{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<h1>Social Options</h1>
	<p>Please select the social platform you would like to integrate.</p>
	<div class="card">
		<img class="card-img-top" src="/images/FB_ICON.png" alt="Facebook (option)">
		<div class="card-block">
    		<h3 class="card-title">Facebook</h4>
    		<p class="card-text">Connect Social Tree to your Facebook account. This enables Social Tree to access your Facebook Data</p>
    		<a id="facebook-connection" class="btn btn-primary">Connect Facebook</a>
  		</div>
	</div>
</div>

{% endblock %}