{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<h1>All Def Digital Backend</h1>
	<hr>
	<h2>Usage</h2>
	<p>Login to the backend application at apps.alldefdigital.com to begin using the dashboard (you will have received a login from chrism@alldefdigitla.com if you are licensed to use this.</p>
	<hr>
	<h2>Creators Applicants</h2>
	<p>The database dashboard where you can see all the users who have signed up via our Creator's Project web interface to collaborate. These users have expressed interest in working with us. This dashboard is for selecting their information individually to curate whether we are interested in working with them</p>
	<hr>
	<h2>Discovery</h2>
	<p>This is an experimental tool that discovers content matching the platform you have selected via the dropdown. You are given the option to check their Facebook, Instagram, Twitter, or YouTube account.</p>
	<p2>Select one of the platforms and use the link from the database (copy and paste into search) to view their metrics on that specific platform.</p2>
</div>

{% endblock %}
